h1{text-align: center;}
body{background-color: cyan;}
h2{text-align: center;}

#bpalavra{text-align: center;margin-top: 60px;}
#bchave{text-align: center;margin-top:50px;
margin-bottom: 30px;}
button{margin:auto;
display: flex;
width:70px;
height: 25px;
text-align: center;
border-radius: 10px;
cursor: pointer;
}